.App-logo {
  height: 18vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: lightgrey;
  min-height: 40vh;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  grid-area: header;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex
}

.grocery-list,
.cart-list {
    flex: 1;
    margin: 1em;
}

.grocery-list-header, .cart-list-header {
  text-align: center;
} 

.empty-button {
  text-align: center;
}

button {
  border: 1px solid lightgrey;
  background: lightgrey;
  padding: 10px 20px;
  font-size: 16px;
  display: inline-block;
  border-radius: 4px;
  cursor: default;
  width: 250px;
  margin: 20px 10px;
  border-left: 0;
  color: #444;
}

.input-field {
  text-align: center;
}

.input-field input {
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 20px 10px;
  font-size: 16px;
  color: #444;
}

.input-field value {

  padding: 10px 20px;
  margin: 20px 10px;
  font-size: 16px;
  background: lightgrey;
}

ul.app-list {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

ul.app-list .list-item {
  padding: 0.5em;
  margin: 2px;
  background-color: #f08080;
}

ul.app-list .list-item:nth-child(even) {
  background-color: #ffb6c1;
} 

.cart-list ul.app-list .list-item {
  background-color: #add8e6;
}

.cart-list ul.app-list .list-item:nth-child(even) {
  background-color: #e0ffff;
}

.item-amount {
  float: right;
}
